{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% block title %}Transactions{% endblock %}

{% block content %}
<div class="card card-full">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-md-3">
                <h3 class="mb-3">Transactions</h3>
            </div>
            <div class="col-md-9">
                <form id="filter-form" method="get" class="form">
                    <div class="d-flex align-items-center justify-content-end">
                        <!-- Type Filter -->
                        <div class="filter-group me-1 position-relative">
                            <div class="d-flex align-items-center">
                                <div class="me-1">
                                    <label for="{{ filter.form.transaction_type.id_for_label }}">{{ filter.form.transaction_type.label }}</label>
                                    {{ filter.form.transaction_type }}
                                </div>
                                <div class="ms-2 d-inline-block position-relative btn-placeholder">
                                    {% if request.GET.transaction_type %}
                                        <button type="button" class="btn-close position-absolute top-0 end-0 mt-1 me-1" 
                                                onclick="resetTypeFilter()" 
                                                aria-label="Reset type filter">
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Date Filters -->
                        <div class="filter-group position-relative">
                            <div class="d-flex align-items-center">
                                <div class="me-1">
                                    <label for="{{ filter.form.start_date.id_for_label }}">{{ filter.form.start_date.label }}</label>
                                    {{ filter.form.start_date }}
                                </div>
                                <div class="me-1">
                                    <label for="{{ filter.form.end_date.id_for_label }}">{{ filter.form.end_date.label }}</label>
                                    {{ filter.form.end_date }}
                                </div>
                                <div class="ms-2 d-inline-block position-relative btn-placeholder">
                                    {% if request.GET.start_date or request.GET.end_date %}
                                        <button type="button" class="btn-close position-absolute top-0 end-0 mt-1 me-1" 
                                                onclick="resetDateFilter()" 
                                                aria-label="Reset date filter">
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <noscript>
                            <button type="submit" class="btn btn-primary">Apply Filter</button>
                        </noscript>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body" id="transaction-table"
            hx-get="{% url 'transaction_list' %}"
            hx-trigger="load"
            hx-target="#transaction-table"
            hx-swap="outerHTML">
        {% render_table table %}
    </div>
</div>
<script src="{% static 'js/transaction_list.js' %}"></script>
{% endblock %}