<div class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="sidebar-header">
      <a href="{% url 'dashboard' %}" class="dashboard-link active">
        <i class="fa-solid fa-chart-line"></i>
        <span>Dashboard</span>
      </a>
    </div>
    
    <div class="sidebar-menu">
      <a href="{% url 'transaction_list' %}" class="menu-item">
        <i class="fa-solid fa-piggy-bank"></i>
        <span>Transactions</span>
      </a>
      <a href="#" class="menu-item">
        <i class="fa-solid fa-user"></i>
        <span>Profile</span>
      </a>
      <a href="#" class="menu-item">
        <i class="fa-solid fa-gear"></i>
        <span>Settings</span>
      </a>
    </div>
    
    {% comment %} <div class="sidebar-section">
      <p class="section-header">ACCOUNT PAGES</p>
      <a href="#" class="menu-item">
        <i class="fa-solid fa-user"></i>
        <span>Profile</span>
      </a>
      <a href="#" class="menu-item">
        <i class="fa-solid fa-sign-in-alt"></i>
        <span>Sign In</span>
      </a>
      <a href="#" class="menu-item">
        <i class="fa-solid fa-user-plus"></i>
        <span>Sign Up</span>
      </a>
    </div>
    
    <div class="help-box">
      <div class="help-icon">
        <i class="fa-solid fa-question"></i>
      </div>
      <h4>Need help?</h4>
      <p>Please check our docs</p>
      <button class="help-button">DOCUMENTATION</button>
    </div> {% endcomment %}
  </div>