<nav class="navbar">
    <div class="navbar-left">
      <a href="#" class="brand">
        <span class="brand-icon"><i class="fa-solid fa-chart-simple"></i></span>
        <span class="brand-text">PROJECT 0</span>
      </a>
    </div>
    <div class="navbar-breadcrumb">
      <a href="#" class="breadcrumb-item text-muted">Pages</a>
      <span class="breadcrumb-separator">/</span>
      <span class="breadcrumb-item active">Dashboard</span>
    </div>
    <div class="navbar-right">
      <div class="search-box">
        <i class="fa-solid fa-search search-icon"></i>
        <input type="text" placeholder="Type here...">
      </div>
      <a href="#" class="nav-link">
        <i class="fa-solid fa-user"></i>
        <span>Sign In</span>
      </a>
      <a href="#" class="nav-link">
        <i class="fa-solid fa-cog"></i>
      </a>
      <a href="#" class="nav-link">
        <i class="fa-solid fa-bell"></i>
      </a>
    </div>
  </nav>