.board {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    gap: 20px;
    margin: 0 auto;
    background-color: #f8f9fa;
    max-width: 100%;
    overflow: visible;
}

.card {
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
}

.card-square, .card-rectangle {
    grid-row: span 1;
}

.card-square {
    grid-column: span 1;
}

.card-rectangle {
    grid-column: span 2;
}

.card-full {
    grid-column: 1 / -1; /* Span from first to last column */
    grid-row: span 3;
}

@media (max-width: 1440px) {
    .board {
        grid-template-columns: repeat(2, 400px);
    }
}

@media (max-width: 992px) {
    .board {
        grid-template-columns: 400px;
    }

    .card-rectangle {
        grid-column: auto;
    }
}

.card-header {
    padding: 20px;
    background-color: inherit;
    border-bottom: none;
}

.card-header h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-body {
    width: 100%;
    height: 100%;
    padding: 10px;
}
